 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
.whole {
  margin: auto;
  width: 1300px; }

.topSec {
  background-color:red;
  width: 1300px;
  height: 300px;
  margin-top:-40px;
  }


.mainTitle {
  border:none;
  padding-top:60px;
  text-align:center;
  font-size:200px;
  clear: both;
  color: white;
  font-family: 'Open Sans', sans-serif;
  }


.ilma{
  float:left;
  display:inline;
  font-size:160px;
  margin-top:20px;
  border:none;

}

.theW{
  margin-left:300px;
  float:left;


}

.tagline{
  clear:both;
  display:block;
  font-size:30px;
  color:black;
  text-align:right;
  float:right;
  margin-right:70px;
  margin-top:-100px;
  font-family: 'Poiret One', cursive;
  border:none;
}

/*This is the end of the top section*/
/*This is the beggining of the middle section*/
.leftSide {
  float:left;
  width: 50%;
  margin-left: 50px;

  }

.heading {
  text-shadow:0px 0px 10px #fff;
  color:#006600;
  border:none;
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  color: red;
  font-weight: lighter;
  line-height: 70px;
  margin-top: 15px;
  margin-left:10px;
  text-decoration:underline;
  }

.para1 {
  margin-left:20px;
  padding-top:10px;
  padding-right:10px;
  padding-left:10px;
  color:white;
  clear: both;
  width:80%;
  height:290px;
  border:solid;
  border-color:white;
  background-color:red;
  border-width:3px;
  border-radius:5px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
 }

 .appInfo{
   text-decoration:underline;
   text-decoration:bold;
   font-size:22px;

 }



/*This is the of the left side*/
/*This is the beginning of the right side*/
.rightSide {
  float: right;
  width: 40%;
  border:none;
  }

.signUp{
  margin-top:150px;
  width:400px;
  height:50px;
  border:solid;
  border-color:white;
  border-width:3px;
  border-radius:5px;
  background-color:red;
  color:white;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-align:center;

}

.logIn{
  margin-top:50px;
  width:400px;
  height:50px;
  border:solid;
  border-color:white;
  border-width:3px;
  border-radius:5px;
  background-color:red;
  color:white;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-align:center;
}

.midSec{
  width:1300px;
  height:560px;
  background-image: url("http://blog.estately.com/assets/Family_Portrait.jpg");
  background-size: 1300px 700px;
  background-repeat: no-repeat;
}

.signUp:hover {
  color: black;
  }

.logIn:hover{
  color:black;

}

.footer{
  clear:both;
  background-color:red;
  height:150px;
}

.copyIcon{
  height:40px;
  width:40px;
}

.copyRight{


}
